


#trending_projects {
	min-height: 306px;
	padding: 11px;
	background: #C74406;
}

#trending_projects h2 {
	color: white;
	font-size: 24pt;
}

#signup_head {
	color: rgb(207, 255, 209);
	padding: 10px;
	background: #0FC216;
	margin: 5px 0px 5px 0px;
	height: 192px;
}
	
#signup_buttons {
	position: relative;
	left: 89px;
	top: 78px;
	font-size: 45pt;
}
#signup_head h1 {
	font-size: 47pt;
	margin-bottom: 26px;
	font-family: sans-serif;
	color: #F5F5F5;
}

#signup_head p  {
	font-size: 13pt;
	width: 541px;
	color: rgb(255, 253, 253);
	text-shadow: 1px 1px 7px black;
	background: #343534;
	padding: 18px;
	margin-left: -9px;
}

#signup_buttons a{
	margin:0 auto;
}

.carousel {
	border:none;
	border-radius: 5px;
	margin-bottom:0px;
}


.project-thumb img {
	border-radius:5px;
}

#projects-inner {
	padding-left:72px;
}

.project-thumb {
	width: 149px;
	box-shadow: 1px 2px 3px #000;
	display:inline-block;
	margin: 5px 53px 5px 0px;
	min-height: 144px;
}

.project-thumb-inner, .thumbnail {
    background: #F0DCDC;
}

.project-thumb-description {
	font-size:8pt;

}

.project-thumb-description span {
	display:block;
}