h2 {
    color: #FFF;
}

	
#signup_buttons {
	font-size: 19pt;
}

#signup_head h1 {
	line-height: 46px;
	margin-bottom: 18px;
	font-family: sans-serif;
	color: #F5F5F5;
}

#signup_head p  {
	font-size: 10pt;
	color: #FFFFFF;
	background: #084400;
	padding: 18px;
	margin-left: -9px;
}

#signup_buttons a{
	margin:0 auto;
	background: #25BE4A;
}

#trending_projects {
	clear:both;
	background: #358EFF;
}

#latest_updates {
	padding: 11px 21px 15px 16px;
	border-radius: 2px;
	background: #F8AB58;
	margin-left: 35px;
}

#latest_updates .avatar {
    float: left;

}

#latest_updates .update p{
	font-weight: normal;
	font-size: 10pt;
	margin-left: 80px;
	margin-top: 9px;
}
.panel {

}

.panel p {
	color: white;
	font-weight: bold;
	line-height: 25px;
	font-size: 14pt;
}
.panel-left {
	color:white;
	padding: 10px;
	background: #A0E410;
	margin: 5px 0px 5px 0px;
	min-height: 192px;
	width: 510px;
}

.panel-right {
	padding: 10px;
	background: #FF8400;
	margin: 5px 0px 5px 9px;
	color: #FFF;
	min-height: 192px;
	width: 506px;
}



.carousel {
	border:none;
	border-radius: 5px;
	margin-bottom:0px;
}




#projects-inner {
    margin-left: 20px;
    min-height: 332px;
    padding: 10px;
}

