
/* Override the content properties */

#content > .content {
	box-shadow:none;
}


.container {
	width:100%;
}


#sidebar {
	float:right;
	min-width: 224px;
	padding: 0px 0px 77px 10px;
	background: #E9E9E9;
	border-left: 1px solid #ECECEC;
	color: rgb(73, 54, 54);
}

#sidebar h2 {
	color: white;
	font-size: 9pt;
	padding-left: 21px;
	background: #444;
}

#main_window h2 {
	font-size: 22px;
	line-height: 40px;
}



#sidebar ul li {
	clear: both;
	display: block;
	font-size: 8pt;
}

.info {
	float: left;
	margin-bottom: 2px;
}

.info a  {
	width: 128px;
	margin: 3px;
	float: left;
}


/* STAT * */

#user_info {
}

.stat {
    float: left;
	
    margin-right: 31px;
    display: block;
}

.stat-title {
    font-size: 47pt;
	
}

.stat-verb {
    font-size: 8pt;
	
}
#main_window {
	
}

.avatar {
	clear:both;
}

/* ACCOUNT CONTROL */

#account_control {
	margin-top:10px;
}
