
/* Override the main content properties */

h3:first {
	background: #555454;
	color: white;
	font-size: 14pt;
	padding-left: 10px;
	line-height: 23pt;
	border-radius: 3px;
}

.container {
	width:100%;
}


#sidebar {
	min-width: 195px;
	background: #F7F7F7;
	border-radius: 6px;
	padding: 25px 0px 71px 27px;
	border-left: 1px solid #ECECEC;
	color: rgb(73, 54, 54);
}

#sidebar h2 {
	color: white;
	font-size: 9pt;
	padding-left: 21px;
	background: #444;
}

#main_window h2 {
	font-size: 22px;
	line-height: 40px;
}



#sidebar ul li {
	clear: both;
	display: block;
	font-size: 8pt;
}

.info {
	float: left;
	margin-bottom: 2px;
}

.info a  {
	width: 128px;
	margin: 3px;
	float: left;
}



/* STAT * */

#user_info {
}

.stat {
    float: left;
	
    margin-right: 31px;
    display: block;
}

.stat-title {
    font-size: 47pt;
	
}

.stat-verb {
    font-size: 8pt;
	
}

.avatar {
	clear:both;
}

.avatar img {
	border-radius:5px;
}

/* ACCOUNT CONTROL */

#account_control {
	margin-top:10px;
}


/* TABS */
#profile_menu li {
	margin-right:12px;
}


/* BOOTSTRAP MODS */
.nav-tabs > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	box-shadow: 1px -1px 3px #D1D1D1;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

/* NEW PROJECT TILE */
.project-thumbnail-new i {
	font-size: 90pt;
	margin-top: 77px;
	margin-left: 13px;
	color: #E2E2E2;
	margin-bottom: 25px;
}

.project-thumbnail-new h3 {
	text-align: center;
	color:#A2A2A2;
}