h3 {
	border-bottom: 1px solid rgb(201, 201, 201);
	color: #636363;
	font-weight: lighter;
}

.step-inner {
	display:none;
}

.avatar {
	margin-bottom: 10px;
	float: right;
}

.avatar p {
	font-size: 8pt;
	color: #929292;
}
.avatar  img {
	border-radius:5px;
}

/* PROGRESS INDICATOR */

#progress_breadcrumb {
	margin-bottom: 5px;
}

#progress_breadcrumb button {
	font-size: 9pt;
	width: 194px;
}


/* MAIN SIGNUP DIV */
#signup {

	padding: 31px 0px 34px 0px;
	border-radius: 10px;
	

	width: auto;

	border: 1px solid #F0F0F0;
	

	background: #F8F8F8;

}

#signup_control {
	width: 100px;
	padding-top: 10px;
	height: 69px;
	margin: 0 auto;
}

a.btn-success {
	margin-right: 44px;
	width: 50px;
	float:right;
}


#signup form {
	background: white;
	padding: 10px;
	border-radius: 5px;
	min-width: 352px;
	max-width: 404px;
	box-shadow: 1px 2px 10px #CCC;
}

/* GENERAL FORM STYLING */

form label {
	font-size: 10pt;
	color: #6B6767;
}

form textarea, input, select {
	width:336px;
}

form #appendedInput {
	width:235px;
}

form textarea{
	margin: 0px 0px 9px;
	height: 115px;
}


/* STEP 2 */

.proficiency {
	margin:10px;
	width: 370px;
	min-height: 47px;
}

.proficiency-title {
	font-size: 11pt;
	color: #7E7E7E;
	margin-bottom: 5px;
}

.proficiency-slider {
	width: 282px;
	margin: 0 auto;
}

#interests-list li, #proficiencies-list li{
	margin: 5px 0px 5px 0px;
	background: #BBD5D3;
	text-align: center;
	width: 95%;
	font-weight: bolder;
	color: #FFF;
	line-height: 34px;
	text-transform: uppercase;
	border-radius: 5px;
	list-style: none;
}


/* Step3  */
#step3 h3 {
	color: #636363;
	font-size: 11pt;
	border-bottom:none;
	font-weight: lighter;
}




